@using CMS.Utilities
@model PagedResult<CMS.ViewModels.CategoryViewModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table table-light">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                CreatedDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id},new { @class="btn btn-outline-secondary"})
                    @Html.ActionLink("Details", "Details", new { Id = item.Id }, new { @class="btn btn-outline-info"})
                    @Html.ActionLink("Delete", "Delete", new { Id = item.Id },  new { @class="btn btn-outline-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>
<cs-pager cs-paging-pagesize="@Model.PageSize"
          cs-paging-pagenumber="@Model.PageNumber"
          cs-paging-totalitems="@Model.TotalItems"
          cs-pagenumber-param="pageNumber"
          asp-controller="Category"
          asp-action="Index"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link">
</cs-pager>

@*@Html.Pager(@Model.PageSize, @Model.PageNumber, @Model.TotalItems)*@