@model IEnumerable<CMS.ViewModels.CategoryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                CreatedDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id}) |
                    @Html.ActionLink("Details", "Details", new { Id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<cs-pager cs-paging-pagesize="(int)Model.PageSize"
          cs-paging-pagenumber="(int)Model.PageNumber"
          cs-paging-totalitems="(int)Model.TotalItemCount"
          cs-pagenumber-param="pageNumber"
          asp-controller="Category"
          asp-action="Index"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link">
</cs-pager>